langchain==0.3.27
langchain-google-genai==2.1.8
python-dotenv==1.1.1
langchain-community==0.3.27
pypdf==6.0.0
langgraph==0.6.7
langchain-qdrant==0.2.1
pysqlite3-binary
langgraph-checkpoint-sqlite
langchain-tavily
fastapi
uvicorn
python-multipart
unstructured
streamlit
requests
pymupdf
pypdf
pdfplumber
